body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 90px;
  font-size: 40px;
  font-weight: 700;

  text-transform: uppercase;
}

.section {
  padding: 80px 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* Buttons*/
.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 20px;
  white-space: nowrap;
  border: 2px solid #834700;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  color: #834700;
  background-color: #fff;
  transition: color 0.2s, border-color 0.2s;
}

.btn-primary:hover {
  border-color: #6a3900;

  color: #6a3900;
}

.btn-primary:active {
  color: #d2c3b2;
  border-color: #d2c3b2;
}

.btn-secondary {
  color: #fff;
  background-color: #834700;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn-secondary:hover {
  border-color: #6a3900;

  background-color: #6a3900;
}

.btn-secondary:active {
  color: #a08874;
}

/* Header */
.intro {
  background: url("Images/wheat-back.jpg");
  background-size: cover;
  height: 550px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  padding-top: 55px;
}

.logo {
  float: left;
}

.title {
  text-align: center;
  margin: 100px auto 0;
}

.title h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  line-height: 0.9;
  margin: 0;
}

/* Menu */
.menu {
  display: block;

  float: right;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

.menu a:not(:last-child) {
  margin-right: 55px;
}

.menu a:hover:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;

  background-color: #fff;
}

.menu a:hover {
  color: #ffcb78;
}

.menu a:active {
  color: #795f36;
  border-bottom: 1px solid #fff;
}

/* Products */
.content {
  position: relative;
}

.products .item {
  float: left;

  width: calc(50% - 50px);
  padding: 0 25px;
}
.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.info p {
  color: #8b8b8b;
  margin: 15px 0;
}

.info-table {
  border-collapse: collapse;
}

.info-table td {
  border: 1px solid #e5e5e5;
  padding: 15px;

  font-weight: 700;
}

.about-item {
  color: #8b8b8b;
  margin-bottom: 60px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .btn {
  margin-right: 5px;
}

.price {
  margin-left: auto;
  font-weight: 700;
}

/* Features */
.features {
  background-color: #ffcb78;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper .item {
  float: left;
  width: 20%;
}
.wrapper .item:not(:last-child) {
  margin-right: 20%;
}

.wrapper .item h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #554327;
}

.wrapper .item p {
  font-size: 16px;
  line-height: 2;
}

/* History */
.history-description {
  float: left;
  width: 60%;
}
.history-description p {
  font-size: 16px;
  color: #7d7d7d;
  line-height: 1.5;
}
.history-description h3 {
  margin: 0;
  margin-bottom: 40px;
}

.history-media {
  float: right;
  width: 25%;
}

.history-media div {
  margin-bottom: 50px;
  font-style: italic;
  color: #939393;
}

.history-media a {
  color: #834700;
  text-decoration: none;
  border-bottom: 1px solid #834700;
}

.history-item:not(:last-child) {
  margin-bottom: 70px;
}

/*Review*/
.review {
  background-color: #ede5d8;
}

.review .wrapper {
  margin-bottom: 50px;
}
.review .wrapper img {
  float: left;
}
.review .wrapper p {
  float: left;
  width: 70%;
  margin-left: 65px;
}

.btn-review {
  display: inline-block;
  color: #a6a097;
  border-color: #a6a097;
}
.container .author {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}
