body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;

  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}

h3 {
  margin: 0;
  margin-bottom: 90px;
  font-size: 40px;
  font-weight: 700;

  text-transform: uppercase;
}

.section {
  padding: 80px 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Buttons*/
.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 20px;
  white-space: nowrap;
  border: 2px solid #834700;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  color: #834700;
  background-color: #fff;
  transition: color 0.2s, border-color 0.2s;
}

.btn-primary:hover {
  border-color: #6a3900;

  color: #6a3900;
}

.btn-primary:active {
  color: #d2c3b2;
  border-color: #d2c3b2;
}

.btn-secondary {
  color: #fff;
  background-color: #834700;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn-secondary:hover {
  border-color: #6a3900;

  background-color: #6a3900;
}

.btn-secondary:active {
  color: #a08874;
}

/* Header */
.intro {
  background: url("../Images/wheat-back.jpg");
  background-size: cover;
  height: 550px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  padding-top: 55px;
}

.logo {
  float: left;
}

.title {
  text-align: center;
  margin: 100px auto 0;
}

.title h2 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  line-height: 0.9;
  margin: 0;
}

/* Menu */
.menu {
  display: block;

  float: right;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

.menu a:not(:last-child) {
  margin-right: 55px;
}

.menu a:hover::after {
  /* display: block; */
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  left: 0;
  right: 0;

  background-color: #fff;
}

.menu a:hover:before {
  color: #ffcb78;
}

.menu a:active {
  color: #795f36;
  border-bottom: 1px solid #fff;
}

/* Products */
.content {
  position: relative;
}

.products .item {
  float: left;

  width: calc(50% - 50px);
  padding: 0 25px;
}
.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.info p {
  color: #8b8b8b;
  margin: 15px 0;
}

.info-table {
  border-collapse: collapse;
}

.info-table td {
  border: 1px solid #e5e5e5;
  padding: 15px;

  font-weight: 700;
}

.about-item {
  color: #8b8b8b;
  margin-bottom: 60px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .btn {
  margin-right: 5px;
}

.price {
  margin-left: auto;
  font-weight: 700;
}

/* Features */
.features {
  background-color: #ffcb78;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper .item {
  float: left;
  width: 20%;
}
.wrapper .item:not(:last-child) {
  margin-right: 20%;
}

.wrapper .item h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #554327;
}

.wrapper .item p {
  font-size: 16px;
  line-height: 2;
}

/* History */
.history-description {
  float: left;
  width: 60%;
}
.history-description p {
  font-size: 16px;
  color: #7d7d7d;
  line-height: 1.5;
}
.history-description h4 {
  margin: 0;
  margin-bottom: 40px;
}

.history-media {
  float: right;
  width: 25%;
}

.history-media div {
  margin-bottom: 50px;
  font-style: italic;
  color: #939393;
}

.history-media a {
  color: #834700;
  text-decoration: none;
  border-bottom: 1px solid #834700;
}

.history-item:not(:last-child) {
  margin-bottom: 70px;
}
.history img {
  width: 100%;
}

/*Review*/
.review {
  background-color: #ede5d8;
}

.review .wrapper {
  margin-bottom: 0;
}
.review .wrapper img {
  float: left;
}
.review .wrapper p {
  float: left;
  width: 70%;
  margin-left: 65px;

  width: calc(100% - 41px - 65px);
}

.btn-review {
  display: inline-block;
  color: #a6a097;
  border-color: #a6a097;
  margin-top: 20px;
}
.container .author {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  margin-top: 20px;
}

/* Assortment */
.assortment-table {
  width: 100%;
  border-collapse: collapse;
}

.assortment-table td:not(:first-child) {
  color: #757575;
}
.assortment-table td {
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
}
.assortment-table td:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
.assortment-table td,
th {
  text-align: left;
}
.assortment-table td:last-child,
th:last-child {
  text-align: right;
}
.assortment-table th {
  font-size: 11px;
  color: #e5e5e5;
  padding-bottom: 45px;
  border-bottom: 1px solid #e5e5e5;
}

.assortment-table th:first-child {
  text-align: left;
}

.assortment-table .novelty {
  font-size: 8px;
  font-weight: bold;
  color: #fff;
  border: 1px solid black;
  border-radius: 0.3em;
  background-color: black;
  padding: 2px 5px;
  margin-left: 25px;
}

/* Order */
.order {
  background-color: #ffcb78;
}
.order p {
  width: 650px;
  color: #836f51;
  font-size: 16px;
  line-height: 1.5;
}
.order form {
  max-width: 630px;
  margin-top: 80px;
}
.order label {
  font-weight: bold;
  text-transform: uppercase;
}
.phone {
  width: 46%;
}
.phone-items .main-phone {
  float: left;
}

.phone-items .additional-phone {
  float: right;
}
.order input,
select {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  background-color: #e5b66c;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  color: #b69054;
  margin: 0 0 25px 0;
  cursor: pointer;
}
.order input:hover,
.order textarea:hover {
  background-color: #d9ad66;
}
.order input:focus,
.order textarea:focus {
  background-color: #fff;
}
.order label {
  display: block;
  margin-bottom: 15px;
}
.order textarea {
  background-color: #e5b66c;
  border: none;
  resize: none;
  padding: 10px 25px;
  color: #b69054;
  height: 120px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.order .btn-secondary {
  margin-top: 45px;
}
/* Checkbox */

.custom-checkbox {
  display: none;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 20px;

  background-color: #e5b66c;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.custom-checkbox:checked + label::before {
  background-image: url("../Images/pngVector.png");
}
.checkbox-label {
  margin-top: 30px;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #000000;
}
.footer-copyright {
  margin-top: 45px;
}

.footer-copyright .social {
  float: left;
}

.footer-copyright .square {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 75px;
  text-decoration: none;

  color: #e5b66c;
  border: 1px solid #322d24;
  background-color: #1b1b1b;
}

.footer-copyright .social a:not(:last-child) {
  border-right: 0;
}

.footer-copyright .social i {
  display: block;
  font-size: 35px;
}

.footer-copyright p {
  float: left;
  font-size: 14px;
  color: #989898;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 9%;
}

.feedback {
  display: flex;
  align-items: center;
  float: right;
  width: 290px;
}

.feedback p {
  width: 20%;
  white-space: nowrap;
}

/* Slider */
.slider {
  overflow: hidden;
  background-color: #ede5d8;
}

#carousel-main .slider__img {
  width: 50px;
  height: auto;
}

#carousel-main .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  bottom: 50%;
}
#carousel-main .owl-nav .owl-prev:hover {
  background: none;
  opacity: 0.6;
}
#carousel-main .owl-nav .owl-next {
  position: absolute;
  right: 0;
  bottom: 50%;
}
#carousel-main .owl-nav .owl-next:hover {
  background: none;
  opacity: 0.6;
}

#carousel-main .owl-nav .owl-next i,
#carousel-main .owl-nav .owl-prev i {
  font-size: 40px;
  color: #fff;
}

/* Media */
@media screen and (max-width: 992px) {
  .menu a:not(:last-child) {
    margin-right: 15px;
  }
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-copyright > p {
    width: calc(100% - 225px - 9%);
    text-align: right;
  }
  .feedback {
    float: left;
    margin-top: 15px;
    width: 100%;
  }
  .feedback p {
    width: calc(100% - 75px - 20px);
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
  .container {
    padding: 0 10px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 45px;
  }
  .header {
    text-align: center;
  }
  .logo {
    width: 100%;
    float: none;
  }
  .logo object {
    display: block;
    margin: 0 auto;
  }

  .menu {
    float: none;
    display: inline-block;
  }
  .menu a:not(:last-child) {
    margin-right: 15px;
  }
  .title {
    margin-top: 50px;
  }
  .title h2 {
    font-size: 60px;
  }
  .items {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .items .item {
    width: 100%;
  }
  .features .item {
    width: 45%;
  }
  /* Table 768px */
  .assortment-table td {
    height: auto;
  }
  .assortment-table .novelty:before {
    content: "\f005";
    font-family: FontAwesome;
  }

  .assortment-table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .assortment-table tr:first-child {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 0 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    vertical-align: middle;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 25%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }

  /*
Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
*/
  td:nth-of-type(1):before {
    content: "Название";
  }
  td:nth-of-type(2):before {
    content: "Алк.";
  }
  td:nth-of-type(3):before {
    content: "Ккал";
  }
  td:nth-of-type(4):before {
    content: "Объём";
  }
  td:nth-of-type(5):before {
    content: "Стоимость";
  }
  .assortment-table td:last-child {
    text-align: left;
  }

  /*end table */

  .wrapper .item:not(:last-child) {
    margin: 0;
  }
  .wrapper .item:not(:nth-child(2n)) {
    margin-right: 10%;
  }
  .history-media {
    width: 40%;
  }
  .history-description {
    width: 55%;
  }

  .order p {
    width: 100%;
  }
  .order form {
    margin-top: 40px;
  }
  .footer .clearfix:first-child {
    text-align: center;
  }
  /* slider */
  #carousel-main .owl-nav {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 5px;
  }
  .menu a {
    display: block;
    padding: 5px;
  }
  .title h2 {
    font-size: 40px;
  }

  .items {
    width: 100%;
  }
  .products .item {
    padding-left: 0;
    padding-right: 0;
  }
  .btn {
    padding: 10px 15px;
  }
  .section {
    padding: 10px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .products .item img {
    width: 100%;
  }
  .info {
    width: 55%;
  }
  .info td {
    padding: 12px;
  }
  .features .item {
    width: 100%;
  }
  .wrapper .item,
  .wrapper .item:not(:last-child) {
    margin: 0;
    margin-bottom: 10px;
  }
  .wrapper .item h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .history-media,
  .history-description {
    width: 100%;
  }
  .history-description {
    margin-bottom: 10px;
  }
  .history-media div,
  .history-description h4 {
    margin-bottom: 10px;
  }
  .history-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .phone {
    width: 100%;
  }
  .order form {
    margin-top: 20px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright > p {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .social {
    margin-left: calc((100% - 225px) / 2);
    margin-right: calc((100% - 225px) / 2);
  }
  .feedback {
    margin-top: 0;
  }

  .container .author {
    float: none;
    line-height: normal;
  }
  .review .wrapper p {
    margin-left: 20px;
    width: calc(100% - 41px - 20px);
  }
}
